<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:distribution="http://xsd.tns.tibco.com/amf/models/distribution" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.1/notation">
  <distribution:ApplicationDistribution xmi:id="_ORfccMVDEd-7Q7CaypeydQ" displayName="Distribution" applicationComposite="../Composites/JmsAppenderForPayload.composite#_sBqbUcRsEd-BlOF2Kok45g">
    <templateLogicalEnvironment xmi:id="_ORfcccVDEd-7Q7CaypeydQ" name="Single Node" description="Creates a Logical Environment with a Single Node that allows any technology type" dateCreated="2010-09-20T22:43:51.620-0700">
      <logicalNodes xmi:id="_ORfccsVDEd-7Q7CaypeydQ" name="Default Node" description="Node template that allows for any technology type"/>
    </templateLogicalEnvironment>
    <distributionNodes xmi:id="_ORfcc8VDEd-7Q7CaypeydQ" name="Node1" nodeTemplate="#_ORfccsVDEd-7Q7CaypeydQ">
      <mappedComponents xmi:id="_ORfcdMVDEd-7Q7CaypeydQ" mappedComponent="../Composites/JmsAppenderForPayload.composite#_sDxUIMRsEd-BlOF2Kok45g"/>
      <mappedBindings xmi:id="_ORfcdcVDEd-7Q7CaypeydQ" mappedBinding="../Composites/JmsAppenderForPayload.composite#_sFfLYcRsEd-BlOF2Kok45g"/>
    </distributionNodes>
  </distribution:ApplicationDistribution>
  <notation:Diagram xmi:id="_OWFBgMVDEd-7Q7CaypeydQ" type="Distribution" element="#_ORfccMVDEd-7Q7CaypeydQ" name="JmsAppenderForPayload1.dist" measurementUnit="Pixel">
    <styles xsi:type="notation:DiagramStyle" xmi:id="_OWFBgcVDEd-7Q7CaypeydQ"/>
  </notation:Diagram>
</xmi:XMI>
