
########################### Remote Properties for AMX Admin #################################

adminURL=http://localhost:8120
username=root
password=t
httpConnectionTimeout=360000
# Admin trust store setting for SSL, variable is not allowed
#javax.net.ssl.trustStore=D:/qa-image/installation/administrator/3.0/samples/admin.default.ssl.trust.store.ts
#javax.net.ssl.trustStoreType=JCEKS
#javax.net.ssl.trustStorePassword=secret

########################### AMX Environment Properties ######################################

env.name=QAEnvironment_{{LISA_USER}}
env.node1.name=QANode1
env.node2.name=QANode2
admin.env.name=SystemEnvironment_{{LISA_USER}}
admin.group.name=AMXAdmin_{{LISA_USER}}
admin.instance.name=admin1
host.name=SystemHost_{{LISA_USER}}
host.instance=QA-BAT-Host
host.jmx.port=6051
host.prefix=tibamx_
amx.sv.queuePrefix=AMX_SV_{{LISA_USER}}

enableMCR=true

logservice.queue.name=cl_logservice_queue
logappender.file.location={{tibco.test.case.log.dir}}
keystore.location={{TIBCO_AMX_TEST_FUNC_RT}}/bat/keystore

#Admin DB property
admin.db.url=hsql

# Qin, Messaging Bus
emshost=localhost
emsport=7222
emsuser=admin
emspwd=

# SOAP BT, JMS BT
jmshost=localhost
jmsport=7222
jmsuser=admin
jmspwd=

jndiconnectionfactory=GenericConnectionFactory
jndicontexturl=tibjmsnaming://localhost:7222
jndihost=localhost
jndiport=7222
jndiuser=admin
jndipwd=

# JNDI Settings for SSL
jndicontexturlSSL=tibjmsnaming://localhost:7632

# DB for test cases with JDBC Direct connection (no XA connection)
dbUrl=jdbc:hsqldb:hsql://192.168.67.136/xsdb
dbDriver=org.hsqldb.jdbcDriver
dbUser=sa
dbPwd=
hibernateDialect=org.hibernate.dialect.HSQLDialect

# AppServer for EJBBT (JBOSS4.2.2)
JBOSSServerForEJBBT=192.168.67.94
JBOSSPortForEJBBT=1099

host1={{LISA_HOST}}
port1=8120
port2=8890
port3=8891
port4=8778
portssl1=6765

bwhost1=192.168.71.8
bwport1=8898
bwportssl1=6767

tibco.amx.rt.smtp1.host=AMX-BACKEND.na.tibco.com
tibco.amx.rt.smtp1.port=25

tibco.amx.rt.ldap1.connectionFactory=com.sun.jndi.ldap.LdapCtxFactory
tibco.amx.rt.ldap1.providerURL=ldap://AMX-BACKEND-1.na.tibco.com:1389

########################### Installation Properties ##############################################

tmpDir={{installPackageTempDir}}
installTempDir={{installerTempDir}}
installJavaHome={{installerJavaHome}}

########################### Build Package Location ####################################################

amxZip={{amxZipLoc}}
amxHFZip={{amxHFZipLoc}}
cppZip={{cppZipLoc}}
adapterZip={{adapterZipLoc}}
ejbZip={{ejbZipLoc}}

########################### TIBCO Hook Properties #################################################

tibco.amx.datafile.template={{TIBCO_AMX_TEST_FUNC_RT}}/cl/amxdata_2node_hsql.template.xml
tibco.test.suite.config.path={{tibco.test.suite.source.dir}}/1machine_2node_cdc.config
