
########################### Remote Properties for AMX Admin #################################

adminURL=http://localhost:8120
username=root
password=t
httpConnectionTimeout=360000
# Admin trust store setting for SSL, variable is not allowed
#javax.net.ssl.trustStore=D:/qa-image/installation/administrator/3.0/samples/admin.default.ssl.trust.store.ts
#javax.net.ssl.trustStoreType=JCEKS
#javax.net.ssl.trustStorePassword=secret

########################### AMX Environment Properties ######################################

env.name=QAEnvironment_{{LISA_HOST}}
env.node1.name=QANode1
env.node2.name=QANode2
admin.env.name=SystemEnvironment_{{LISA_HOST}}
admin.group.name=AMXAdmin_{{LISA_HOST}}
admin.instance.name=admin1
host.name=SystemHost_{{LISA_HOST}}
host.instance=QA-BAT-Host
host.jmx.port=6051
host.prefix=tibamx_
amx.sv.queuePrefix=AMX_SV_{{LISA_HOST}}

enableMCR=true

logappender.file.location={{tibco.test.case.log.dir}}
keystore.location={{TIBCO_AMX_TEST_FUNC_RT}}/bat/keystore

#Admin DB property
admin.db.url=jdbc:oracle:thin:@192.168.72.214:1521:ORCL
admin.db.username=duke03031
admin.db.password=tibco
admin.db.host=192.168.72.214
admin.db.port=1521
admin.db.sid=ORCL
admin.db.admusr=system
admin.db.admpwd=tibco

#Commonlogging logservice and payload service DB property
commonlogging.db.jdbcDriver=oracle.jdbc.OracleDriver
commonlogging.db.url=jdbc:oracle:thin:@192.168.72.214:1521:ORCL
commonlogging.db.username=duke03031
commonlogging.db.password=tibco

#Commonlogging logservice and payload service default ems queue property
commonlogging.logservice.emsqueue=cl_logservice_queue
commonlogging.payload.emsqueue=cl_payload_queue


#DB feature
db.shell.name=com.tibco.tpcl.gen.oracle.jdbc
db.feature.version=11.2.100.001
db.shell.version=11.1.0.112100
db.source.jar.location={{TIBCO_AMX_TEST_FUNC_RT}}/bat/jdbcDrivers/oracle

# Qin, Messaging Bus
emshost=localhost
emsport=7222
emsuser=admin
emspwd=

# SOAP BT, JMS BT
jmshost=localhost
jmsport=7222
jmsuser=admin
jmspwd=

jndiconnectionfactory=GenericConnectionFactory
jndicontexturl=tibjmsnaming://192.168.72.214:7222
jndihost=192.168.72.214
jndiport=7222
jndiuser=admin
jndipwd=

# JNDI Settings for SSL
jndicontexturlSSL=tibjmsnaming://localhost:7632

# DB for test cases with JDBC Direct connection (no XA connection)
dbUrl=jdbc:hsqldb:hsql://localhost:1234/amx
dbDriver=org.hsqldb.jdbcDriver
dbUser=sa
dbPwd=
hibernateDialect=org.hibernate.dialect.HSQLDialect

# AppServer for EJBBT (JBOSS4.2.2)
JBOSSServerForEJBBT=localhost
JBOSSPortForEJBBT=1099

host1={{LISA_HOST}}
port1=8120
port2=8890
port3=8891
port4=8778
portssl1=6765

bwhost1=localhost
bwport1=8898
bwportssl1=6767

tibco.amx.rt.smtp1.host=localhost
tibco.amx.rt.smtp1.port=25

tibco.amx.rt.ldap1.connectionFactory=com.sun.jndi.ldap.LdapCtxFactory
tibco.amx.rt.ldap1.providerURL=ldap://localhost:1389

# CPP IT Compiler
compiler={{cppCompiler}}

########################### Installation Properties ##############################################

tmpDir={{installPackageTempDir}}
installTempDir={{installerTempDir}}
installJavaHome={{installerJavaHome}}

########################### Build Package Location ####################################################

amxZip={{amxZipLoc}}
amxHFZip={{amxHFZipLoc}}
cppZip={{cppZipLoc}}
adapterZip={{adapterZipLoc}}
ejbZip={{ejbZipLoc}}
clrZip={{clrZipLoc}}

########################### Build Package Location #################################################
amxZip={{PATH}}/TIB_amsg3x_3.3.0_win_x86.zip
targetVersion=3.3.0.HF3
targetUpgradeVersion=3.3.0.HF3
amxHFInstaller={{PATH}}/TIBCOUniversalInstaller.exe
amxHFZipLoc={{PATH}}/TIB_amx_3.3.0_HF-003.zip
tmpDir=D:/temp
installTempDir=D:/temp
installJavaHome={{JRE_HOME}}/tibcojre/1.6.0
installerTempDir=D:/duke

########################### TIBCO Hook Properties #################################################

tibco.amx.datafile.template={{TIBCO_AMX_TEST_FUNC_RT}}/bat/amxdata_2node_orcl.template.xml
tibco.test.suite.config.path={{tibco.test.suite.source.dir}}/2node_orcl_patched.config
