<?xml version="1.0" encoding="UTF-8"?>
<?pde version="3.2"?>

<target name="mediation-runtime">

   <location path="${env_var:TIBCO_BUILD}/configurations/lblm/esb/mediation/rt/amx.it.mediation.runtime.feature/extensionLoc/eclipse"/>

   <content>
      <plugins>
      </plugins>
      <features>
      </features>
      <extraLocations>
         <location path="${eclipse_home}/dropins-source"/>
      </extraLocations>
   </content>

</target>
