<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="SCConfigNameBehaviour">
                    <serviceMetadata httpGetEnabled="true"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="SCConfigNameBehaviour" name="ServiceContractProject.MyServiceContractsImpl">
                <endpoint address="MyCalculator" binding="basicHttpBinding" bindingConfiguration="SCConfigNameBinding" contract="MyCalculatorConfiguration"/>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://mraut-dt1:8090/"/>
                    </baseAddresses>
                </host>
            </service>
        </services>
        <bindings>
            <basicHttpBinding>
                <binding name="SCConfigNameBinding"/>
            </basicHttpBinding>
        </bindings>
    </system.serviceModel>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
