<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
          <basicHttpBinding>
                <binding name="wsBinding0" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://mraut-dt1:8090/MyCalculator" binding="basicHttpBinding"
                bindingConfiguration="wsBinding0" contract="IMyCalculator"
                name="AccessMyCalculatorService">
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>