<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:distribution="http://xsd.tns.tibco.com/amf/models/distribution" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.1/notation">
  <distribution:ApplicationDistribution xmi:id="_MO03oMRzEd-fmMVgPTGMcA" displayName="Distribution" applicationComposite="../Composites/cl3_11.composite#_sBqbUcRsEd-BlOF2Kok45g">
    <templateLogicalEnvironment xmi:id="_MO03ocRzEd-fmMVgPTGMcA" name="Single Node" description="Creates a Logical Environment with a Single Node that allows any technology type" dateCreated="2010-09-20T00:24:39.253-0430">
      <logicalNodes xmi:id="_MO03osRzEd-fmMVgPTGMcA" name="Default Node" description="Node template that allows for any technology type"/>
    </templateLogicalEnvironment>
    <distributionNodes xmi:id="_MO03o8RzEd-fmMVgPTGMcA" name="Node1" nodeTemplate="#_MO03osRzEd-fmMVgPTGMcA">
      <mappedComponents xmi:id="_MO03pMRzEd-fmMVgPTGMcA" mappedComponent="../Composites/cl3_11.composite#_sDxUIMRsEd-BlOF2Kok45g"/>
      <mappedBindings xmi:id="_MO03pcRzEd-fmMVgPTGMcA" mappedBinding="../Composites/cl3_11.composite#_sFfLYcRsEd-BlOF2Kok45g"/>
    </distributionNodes>
  </distribution:ApplicationDistribution>
  <notation:Diagram xmi:id="_MO-BkMRzEd-fmMVgPTGMcA" type="Distribution" element="#_MO03oMRzEd-fmMVgPTGMcA" name="JmsAppenderForPayload.dist" measurementUnit="Pixel">
    <styles xsi:type="notation:DiagramStyle" xmi:id="_MO-BkcRzEd-fmMVgPTGMcA"/>
  </notation:Diagram>
</xmi:XMI>
