
########################### Remote Properties for AMX Admin #################################

adminURL=http://localhost:8120
username=Administrator
password=Amxqa123
httpConnectionTimeout=360000
httpAuthType=basic

admin.cli.ssl.keystorelocation={{TIBCO_AMXADMIN_CONFIG}}/samples/adminCliKeystore.jceks
admin.cli.ssl.keystorepassword=#!F2vplsUatM3B6+lsDcSbWpgO5i5cfznNQAD3anjhExnDL6tQPzKdmw==
admin.cli.ssl.keystoretype=jceks
admin.cli.ssl.keyalias=AMXAdminCli
admin.cli.ssl.keypassword=#!e0Br49sVAB0c1+H2cxVMtZj1VxM0J+1J2OivXSpZ3hods7yIoKEaxQ==

########################### AMX Environment Properties ######################################

env.name=QAEnvironment_{{LISA_HOST}}
env.node1.name=QANode1
env.node2.name=QANode2
admin.env.name=SystemEnvironment_{{LISA_HOST}}
admin.group.name=AMXAdmin_{{LISA_HOST}}
admin.instance.name=admin1
host.name=SystemHost_{{LISA_HOST}}
host.instance=QA-BAT-Host
host.jmx.port=6051
host.prefix=tibamx_
amx.sv.queuePrefix=AMX_SV_{{LISA_HOST}}
enableMCR=true

logappender.file.location={{tibco.test.case.log.dir}}
keystore.location={{TIBCO_AMX_TEST_FUNC_RT}}/bat/keystore

#Admin DB property
#admin.db.url=hsql



#Admin DB property
admin.db.url=jdbc:db2://AMX-BACKEND-5.na.tibco.com:446/amxbat
admin.db.username=lisa_bat
admin.db.password=lisa_bat
admin.db.host=AMX-BACKEND-5.na.tibco.com
admin.db.port=446
admin.db.dbname=amxbat
admin.db.admusr=db2admin
admin.db.admpwd=db2admin

### Begin ### logservice and payload service DB properties ###.
#If you want Admin DB to be your CL DB then don't modify anything below. But, if you like to be seperate DB's then make sure you use amxcl as the DB name.
cl.db.url=jdbc:db2://AMX-BACKEND-5.na.tibco.com:446/amxbat
cl.db.username=lisa_bat
cl.db.password=lisa_bat
cl.db.host=AMX-BACKEND-5.na.tibco.com
cl.db.port=446
cl.db.dbname=amxbat
cl.db.admusr=db2admin
cl.db.admpwd=db2admin

### End ### logservice and payload service DB properties ###.

### Begin ### MCR service DB properties ###.
#If you want Admin DB to be your MCR DB then don't modify anything below. But, if you like to be seperate DB's then make sure you use amxmcr as the DB name.
mcr.db.url=jdbc:db2://AMX-BACKEND-5.na.tibco.com:446/amxbat
mcr.db.username=lisa_bat
mcr.db.password=lisa_bat
mcr.db.host=AMX-BACKEND-5.na.tibco.com
mcr.db.port=446
mcr.db.dbname=amxbat
mcr.db.admusr=db2admin
mcr.db.admpwd=db2admin

### End ### MCR service DB properties ###. 

#DB feature
db.shell.name=com.tibco.tpcl.gen.db2.jdbc
# AMX 3.1.3
#db.feature.version=4.12.55.001
#db.shell.version=4.12.55.001
# AMX 3.1.5, AMX 3.2
db.feature.version=4.12.55.001
db.shell.version=4.12.55.4130
db.source.jar.location={{TIBCO_AMX_TEST_FUNC_RT}}/bat/jdbcDrivers/db2


# Admin LDAP 
ldap.server.url=ldap://10.107.172.183:389
ldap.bind.dn.name=cn=administrator,cn=Users,dc=amxqa1,dc=na,dc=tibco,dc=com
ldap.bind.dn.password=#!pyVp3p9lmEGWACYh0+q3Hwrz9w7g9PSc3YDt/45Gm90=
ldap.initial.ctx.factory=com.sun.jndi.ldap.LdapCtxFactory
ldap.user.search.base.dn=cn=Users,dc=amxqa1,dc=na,dc=tibco,dc=com
ldap.user.search.expression=(&amp;(cn={0})(objectclass=person))
ldap.user.attribute.users.name=cn
ldap.search.timeout=-1
ldap.group.search.base.dn=dc=amxqa1,dc=na,dc=tibco,dc=com
ldap.group.search.scope.subtree=true
ldap.group.search.expression=name={0}
ldap.group.attribute.groups.name=name
ldap.group.indication=groupHasUsers
ldap.group.attribute.users.name=member
ldap.group.attribute.subgroups.name=member
ldap.user.attributes.extra=
ldap.user.search.scope.subtree=true
ldap.key.password=#!LVMPk7ylrUZDUYVigQOrT1Ie6q4tlBqLbVn6PMEcP1TyN9DdYsyjTQ==
ldap.security.authentication=Simple


# Qin, Messaging Bus
emshost=AMX-BACKEND-4.na.tibco.com
emsport=7222
emsuser=admin
emspwd=admin

# SOAP BT, JMS BT
jmshost=AMX-BACKEND.na.tibco.com
jmsport=7522
jmsuser=amxemspwd
jmspwd=amxemspwd

jndiconnectionfactory=GenericConnectionFactory
jndicontexturl=tibjmsnaming://AMX-BACKEND.na.tibco.com:7622
jndihost=AMX-BACKEND.na.tibco.com
jndiport=7622
jndiuser=amxjndipwd
jndipwd=amxjndipwd

# JNDI Settings for SSL
jndicontexturlSSL=tibjmsnaming://AMX-BACKEND.na.tibco.com:7632

# DB for test cases with JDBC Direct connection (no XA connection)
dbUrl=jdbc:hsqldb:hsql://AMX-BACKEND.na.tibco.com:1234/amx
dbDriver=org.hsqldb.jdbcDriver
dbUser=sa
dbPwd=
hibernateDialect=org.hibernate.dialect.HSQLDialect

# AppServer for EJBBT (JBOSS4.2.2)
JBOSSServerForEJBBT=AMX-BACKEND.na.tibco.com
JBOSSPortForEJBBT=1099

host1={{LISA_HOST}}
port1=8120
port2=8890
port3=8891
port4=8778
portssl1=6765

bwhost1=AMX-BACKEND-2.na.tibco.com
bwport1=8898
bwportssl1=6767

tibco.amx.rt.smtp1.host=AMX-BACKEND.na.tibco.com
tibco.amx.rt.smtp1.port=25

tibco.amx.rt.ldap1.connectionFactory=com.sun.jndi.ldap.LdapCtxFactory
tibco.amx.rt.ldap1.providerURL=ldap://AMX-BACKEND-1.na.tibco.com:1389

# CPP IT Compiler
compiler={{cppCompiler}}

########################### Installation Properties ##############################################

tmpDir={{installPackageTempDir}}
installTempDir={{installerTempDir}}
installJavaHome={{installerJavaHome}}

########################### Build Package Location ####################################################

amxZip={{amxZipLoc}}
amxHFZip={{amxHFZipLoc}}
amxHF2Zip={{amxHF2ZipLoc}}
cppZip={{cppZipLoc}}
adapterZip={{adapterZipLoc}}
ejbZip={{ejbZipLoc}}
clrZip={{clrZipLoc}}

########################### TIBCO Hook Properties #################################################

tibco.amx.datafile.template={{TIBCO_AMX_TEST_FUNC_RT}}/bat/amxdata_2node_ldap.template.xml
tibco.test.suite.config.path={{TIBCO_AMX_TEST_FUNC_RT}}/bat/2node_ldap.config
