
########################### Remote Properties for AMX Admin #################################

adminURL=http://10.112.3.4:8120
username=root
password=t
httpConnectionTimeout=360000
# Admin trust store setting for SSL, variable is not allowed
#javax.net.ssl.trustStore=D:/qa-image/installation/administrator/3.0/samples/admin.default.ssl.trust.store.ts
#javax.net.ssl.trustStoreType=JCEKS
#javax.net.ssl.trustStorePassword=secret

########################### AMX Environment Properties ######################################

env.name=QAEnvironment
env.node1.name=QANode1
env.node2.name=QANode2
admin.env.name=SystemEnvironment
admin.group.name=amxadmin
admin.instance.name=admin01
host.name=SystemHost
host.instance=TibcoHostInstance
host.jmx.port=36963
host.prefix=tibamx_
amx.sv.queuePrefix=AMX_SV_{{LISA_USER}}

enableMCR=true

logappender.file.location=/opt/tibco/qa/logs
keystore.location=/opt/tibco/qa/keystore

# Admin, Qin 
emshost=10.112.3.4
emsport=7222
emsuser=admin
emspwd=

# SOAP BT, JMS BT
jmshost=10.112.3.4
jmsport=7222
jmsuser=admin
jmspwd=

jndiconnectionfactory=GenericConnectionFactory
jndicontexturl=tibjmsnaming://10.112.3.4:7222
jndihost=10.112.3.4
jndiport=7222
jndiuser=admin
jndipwd=

# JNDI Settings for SSL
jndicontexturlSSL=tibjmsnaming://10.112.3.4:7222

# DB for test cases with JDBC Direct connection (no XA connection)
dbUrl=jdbc:hsqldb:hsql://AMX-BACKEND.na.tibco.com:1234/amx
dbDriver=org.hsqldb.jdbcDriver
dbUser=sa
dbPwd=
hibernateDialect=org.hibernate.dialect.HSQLDialect

# AppServer for EJBBT (JBOSS4.2.2)
JBOSSServerForEJBBT=192.168.67.94
JBOSSPortForEJBBT=1099

host1=10.112.3.4
port1=8120
port2=8890
port3=8891
port4=8778
portssl1=6765

bwhost1=AMX-BACKEND-2.na.tibco.com
bwport1=8898
bwportssl1=6767

tibco.amx.rt.smtp1.host=AMX-BACKEND.na.tibco.com
tibco.amx.rt.smtp1.port=25

tibco.amx.rt.ldap1.connectionFactory=com.sun.jndi.ldap.LdapCtxFactory
tibco.amx.rt.ldap1.providerURL=ldap://puppy.na.tibco.com:389

########################### Installation Properties ##############################################

tmpDir={{installPackageTempDir}}
installTempDir={{installerTempDir}}
installJavaHome={{installerJavaHome}}

########################### Build Package Location ####################################################

amxZip={{amxZipLoc}}
cppZip={{cppZipLoc}}
adapterZip={{adapterZipLoc}}
ejbZip={{ejbZipLoc}}

########################### TIBCO Hook Properties #################################################

tibco.amx.datafile.template={{TIBCO_AMX_TEST_FUNC_RT}}/bat/amxdata_2node.template.xml
tibco.test.suite.config.path={{tibco.test.suite.source.dir}}/silver/1machine_2node.config
