<?xml version="1.0" encoding="UTF-8"?>
<?pde version="3.2"?>

<target name="TargetPlatform-m3-v1-build12">

   <location path="C:\ALL\BUILDS\TARGET_PLATFORMS\amx30-m3-v1-build12\components\eclipse\plugins"/>

   <content>
      <plugins>
         <plugin id="com.tibco.amf.addressing"/>
         <plugin id="com.tibco.amf.binding.soap.model.extensions"/>
         <plugin id="com.tibco.amf.binding.soap.runtime"/>
         <plugin id="com.tibco.amf.hpa.core.runtime.management"/>
         <plugin id="com.tibco.amf.implementation.java.runtime"/>
         <plugin id="com.tibco.amf.platform.runtime"/>
         <plugin id="com.tibco.amf.platform.runtime.extension"/>
         <plugin id="com.tibco.amf.platform.runtime.management"/>
         <plugin id="com.tibco.amf.runtime.component.model"/>
         <plugin id="com.tibco.amf.runtime.deployment.model"/>
         <plugin id="com.tibco.amf.runtime.emssv.model"/>
         <plugin id="com.tibco.amf.runtime.implementationtype.spring"/>
         <plugin id="com.tibco.amf.runtime.implementationtype.webapp"/>
         <plugin id="com.tibco.amf.sca.model"/>
         <plugin id="com.tibco.amf.sca.model.implementationtype.spring"/>
         <plugin id="com.tibco.amf.sca.model.implementationtype.webapp"/>
         <plugin id="com.tibco.amf.sharedresource.runtime.core.common"/>
         <plugin id="com.tibco.amf.sharedresource.runtime.core.hibernate"/>
         <plugin id="com.tibco.amf.sharedresource.runtime.core.http"/>
         <plugin id="com.tibco.amf.sharedresource.runtime.core.jms"/>
         <plugin id="com.tibco.amf.sharedresource.runtime.core.ldap"/>
         <plugin id="com.tibco.amf.sharedresource.runtime.core.mail"/>
         <plugin id="com.tibco.amf.sharedresource.runtime.core.teneo"/>
         <plugin id="com.tibco.amf.soap.utils"/>
         <plugin id="com.tibco.amf.spin"/>
         <plugin id="com.tibco.amf.spline.api"/>
         <plugin id="com.tibco.amf.spline.impl"/>
         <plugin id="com.tibco.amf.spline.launcher"/>
         <plugin id="com.tibco.corona.binding.soap.model"/>
         <plugin id="com.tibco.jms.jmsclient"/>
         <plugin id="com.tibco.jms.jmsclient.admin"/>
         <plugin id="com.tibco.jms.jmsclient.rv"/>
         <plugin id="com.tibco.jms.jmsclient.ufo"/>
         <plugin id="com.tibco.neo.common.util"/>
         <plugin id="com.tibco.neo.eclipse.support"/>
         <plugin id="com.tibco.neo.eclipse.support.osgi"/>
         <plugin id="com.tibco.neo.gms"/>
         <plugin id="com.tibco.neo.model.core"/>
         <plugin id="com.tibco.neo.model.j2ee"/>
         <plugin id="com.tibco.neo.monitor"/>
         <plugin id="com.tibco.rv.client.fullmsg"/>
         <plugin id="com.tibco.rv.client.fullmsg.secure"/>
         <plugin id="com.tibco.rv.client.thinmsg"/>
         <plugin id="com.tibco.rv.client.thinmsg.secure"/>
         <plugin id="com.tibco.rv.rvclient"/>
         <plugin id="com.tibco.security.tibcrypt"/>
         <plugin id="com.tibco.soap.wsdl.generation"/>
         <plugin id="com.tibco.tibcoxml.io"/>
         <plugin id="com.tibco.tibcoxml.lex.yap"/>
         <plugin id="com.tibco.tibcoxml.net"/>
         <plugin id="com.tibco.tibcoxml.share.proxy"/>
         <plugin id="com.tibco.tibcoxml.ui.plugin"/>
         <plugin id="com.tibco.tibcoxml.util"/>
         <plugin id="com.tibco.tibcoxml.util.regexpr"/>
         <plugin id="com.tibco.tibcoxml.xml.ae2xsd"/>
         <plugin id="com.tibco.tibcoxml.xml.diff"/>
         <plugin id="com.tibco.tibcoxml.xml.schema.dom"/>
         <plugin id="com.tibco.tibcoxml.xml.schemadoc"/>
         <plugin id="com.tibco.tibcoxml.xml.sdk"/>
         <plugin id="com.tibco.tibcoxml.xml.soap"/>
         <plugin id="com.tibco.tibcoxml.xml.transform"/>
         <plugin id="com.tibco.tibcoxml.xml.ws.wsdl"/>
         <plugin id="com.tibco.tibcoxml.xml.wsil"/>
         <plugin id="com.tibco.tibcoxml.xml.xdata"/>
         <plugin id="com.tibco.tibcoxml.xml.xvalidate"/>
         <plugin id="com.tibco.tpcl.antlr"/>
         <plugin id="com.tibco.tpcl.com.ctc.wstx"/>
         <plugin id="com.tibco.tpcl.com.entrust.toolkit"/>
         <plugin id="com.tibco.tpcl.com.sun.enterprise.ee.cms"/>
         <plugin id="com.tibco.tpcl.com.sun.jmx.remote.optional"/>
         <plugin id="com.tibco.tpcl.javax.activation"/>
         <plugin id="com.tibco.tpcl.javax.annotation"/>
         <plugin id="com.tibco.tpcl.javax.ejb"/>
         <plugin id="com.tibco.tpcl.javax.jms"/>
         <plugin id="com.tibco.tpcl.javax.mail"/>
         <plugin id="com.tibco.tpcl.javax.resource"/>
         <plugin id="com.tibco.tpcl.javax.servlet"/>
         <plugin id="com.tibco.tpcl.javax.system.exports"/>
         <plugin id="com.tibco.tpcl.javax.system.exports.sun"/>
         <plugin id="com.tibco.tpcl.javax.transaction"/>
         <plugin id="com.tibco.tpcl.javax.wsdl4j"/>
         <plugin id="com.tibco.tpcl.javax.xml.bind"/>
         <plugin id="com.tibco.tpcl.javax.xml.rpc"/>
         <plugin id="com.tibco.tpcl.javax.xml.soap"/>
         <plugin id="com.tibco.tpcl.javax.xml.ws"/>
         <plugin id="com.tibco.tpcl.jdbc.drivers"/>
         <plugin id="com.tibco.tpcl.net.jxta"/>
         <plugin id="com.tibco.tpcl.net.sf.cglib.nodep"/>
         <plugin id="com.tibco.tpcl.net.sf.ehcache"/>
         <plugin id="com.tibco.tpcl.net.sf.saxon"/>
         <plugin id="com.tibco.tpcl.org.apache.commons.codec"/>
         <plugin id="com.tibco.tpcl.org.apache.commons.collections"/>
         <plugin id="com.tibco.tpcl.org.apache.commons.httpclient"/>
         <plugin id="com.tibco.tpcl.org.apache.commons.logging.over.slf4j"/>
         <plugin id="com.tibco.tpcl.org.apache.commons.ssl"/>
         <plugin id="com.tibco.tpcl.org.apache.log4j"/>
         <plugin id="com.tibco.tpcl.org.apache.tools.ant"/>
         <plugin id="com.tibco.tpcl.org.apache.xalan"/>
         <plugin id="com.tibco.tpcl.org.apache.xerces"/>
         <plugin id="com.tibco.tpcl.org.apache.xml.resolver"/>
         <plugin id="com.tibco.tpcl.org.apache.xml.security"/>
         <plugin id="com.tibco.tpcl.org.apache.xml.serializer"/>
         <plugin id="com.tibco.tpcl.org.apache.xmlbeans"/>
         <plugin id="com.tibco.tpcl.org.apache.xmlcommons"/>
         <plugin id="com.tibco.tpcl.org.bc.asn1"/>
         <plugin id="com.tibco.tpcl.org.com.mchange.c3p0"/>
         <plugin id="com.tibco.tpcl.org.dom4j"/>
         <plugin id="com.tibco.tpcl.org.eclipse.emf"/>
         <plugin id="com.tibco.tpcl.org.eclipse.emf.teneo"/>
         <plugin id="com.tibco.tpcl.org.eclipse.emf.teneo.annotations"/>
         <plugin id="com.tibco.tpcl.org.eclipse.emf.teneo.hibernate"/>
         <plugin id="com.tibco.tpcl.org.eclipse.wst.subset"/>
         <plugin id="com.tibco.tpcl.org.eclipse.xsd"/>
         <plugin id="com.tibco.tpcl.org.hibernate"/>
         <plugin id="com.tibco.tpcl.org.jdom"/>
         <plugin id="com.tibco.tpcl.org.joda.time"/>
         <plugin id="com.tibco.tpcl.org.mortbay.jetty"/>
         <plugin id="com.tibco.tpcl.org.objectweb.asm"/>
         <plugin id="com.tibco.tpcl.org.opensaml"/>
         <plugin id="com.tibco.tpcl.org.slf4j.log4j12"/>
         <plugin id="com.tibco.tpcl.org.springframework.aop"/>
         <plugin id="com.tibco.tpcl.org.springframework.beans"/>
         <plugin id="com.tibco.tpcl.org.springframework.context"/>
         <plugin id="com.tibco.tpcl.org.springframework.context-support"/>
         <plugin id="com.tibco.tpcl.org.springframework.core"/>
         <plugin id="com.tibco.trinity.runtime.core.connector"/>
         <plugin id="com.tibco.trinity.runtime.core.connector.j2ee"/>
         <plugin id="com.tibco.trinity.runtime.core.connector.jvm"/>
         <plugin id="com.tibco.trinity.runtime.core.connector.osgi"/>
         <plugin id="com.tibco.trinity.runtime.core.provider.authn"/>
         <plugin id="com.tibco.trinity.runtime.core.provider.authn.kerberos"/>
         <plugin id="com.tibco.trinity.runtime.core.provider.authn.ldap"/>
         <plugin id="com.tibco.trinity.runtime.core.provider.authn.legacy"/>
         <plugin id="com.tibco.trinity.runtime.core.provider.authn.saml"/>
         <plugin id="com.tibco.trinity.runtime.core.provider.authn.sample"/>
         <plugin id="com.tibco.trinity.runtime.core.provider.authn.signature"/>
         <plugin id="com.tibco.trinity.runtime.core.provider.authn.siteminder"/>
         <plugin id="com.tibco.trinity.runtime.core.provider.authn.tivoli"/>
         <plugin id="com.tibco.trinity.runtime.core.provider.authn.xml"/>
         <plugin id="com.tibco.trinity.runtime.core.provider.credential"/>
         <plugin id="com.tibco.trinity.runtime.core.provider.credential.keystore"/>
         <plugin id="com.tibco.trinity.runtime.core.provider.credential.password"/>
         <plugin id="com.tibco.trinity.runtime.core.provider.credential.trinity"/>
         <plugin id="com.tibco.trinity.runtime.core.provider.identity"/>
         <plugin id="com.tibco.trinity.runtime.core.provider.identity.subject"/>
         <plugin id="com.tibco.trinity.runtime.core.provider.identity.trust"/>
         <plugin id="com.tibco.trinity.runtime.core.provider.proxy"/>
         <plugin id="com.tibco.trinity.runtime.core.provider.util"/>
         <plugin id="com.tibco.trinity.runtime.core.sspi"/>
         <plugin id="org.eclipse.osgi"/>
      </plugins>
      <features>
      </features>
   </content>

</target>
