<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            name="CMTV3001 Mediation Task Validations"
            id="mediation.task.validation/cmtv3001">
      </category>
      <constraintProvider
            cache="true">
         <package
               namespaceUri="http://xsd.tns.cmt_v30_01_model.com/amsb/task/custom/models/cmtv3001mediationtaskmodel">
         </package>
         <constraints
               categories="mediation.task.validation/cmtv3001">
            <constraint
                  severity="ERROR"
                  name="%Constraints.NonNullAttributeValue_name"
                  statusCode="CMTV3001MediationTask-1001"
                  class="cmt_v30_01_model.errorinfoNonNullConstraint"
                  mode="Live"
                  lang="java"
                  id="cmtv3001mediationtask.mediation.task.attribute.nonNullValue">
               <description>
                  %Constraints.NonNullAttributeValue_description
               </description>
               <message>
                  %Constraints.NonNullAttributeValue_message
               </message>
               <target
                     class="CMTV3001MediationTask">
                  <event
                        name="Set">
                  </event>
                  <customEvent
                        name="com.tibco.amsb.mediation.task.add">
                  </customEvent>
                  <customEvent
                        name="com.tibco.amsb.mediation.task.inputBinding">
                  </customEvent>
               </target>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            genModel="model/CMTV3001MediationTask.genmodel"
            uri="http://xsd.tns.cmt_v30_01_model.com/amsb/task/custom/models/cmtv3001mediationtaskmodel"
            class="cmt_v30_01_model.cmtv3001mediationtaskmodel.CMTV3001MediationTaskPackage">
      </package>
   </extension>
   <extension
         point="com.tibco.amsb.core.mediation.model.ext.MediationTaskTypeExtension">
      <mediationTaskType
            class="cmt_v30_01_model.CMTV3001MediationTaskTypeExtensionImpl"
            id="cmt_v30_01_model.CMTV3001MediationTask">
      </mediationTaskType>
   </extension>
   <extension
         point="com.tibco.amsb.core.mediation.model.ext.MediationTaskSerializerExtension">
      <mediationTaskSerializer
            mediationTaskTypeId="cmt_v30_01_model.CMTV3001MediationTask"
            serializerClass="cmt_v30_01_model.CMTV3001MediationTaskSerializer">
      </mediationTaskSerializer>
   </extension>
   <extension
         point="com.tibco.amsb.core.mediation.model.ext.MediationTaskDeserializerExtension">
      <mediationTaskDeserializer
            namespaceURI="http://xsd.tns.cmt_v30_01_model.com/bpel/extension/activity/models/customtaskmodel/CMTV3001MediationTask"
            deserializerClass="cmt_v30_01_model.CMTV3001MediationTaskDeserializer">
      </mediationTaskDeserializer>
   </extension>
   <extension
         point="com.tibco.amsb.core.mediation.model.ext.MediationTaskReportExtension">
      <mediationTaskReport
            mediationTaskTypeId="cmt_v30_01_model.CMTV3001MediationTask"
            class="cmt_v30_01_model.CMTV3001MediationTaskReportFactory">
      </mediationTaskReport>
   </extension>

</plugin>
