#Sun Mar 05 21:40:24 PST 2023
TIBCO_COMMON_LIBRARY=C\:/Lisa1072/Projects/BATAutomation/Tests/libraries/common
TIBCO_AMX_LIBRARY=C\:/Lisa1072/Projects/BATAutomation/Tests/libraries/amx
tibco.test.case.log.dir=C\:\\Lisa1072\\reports
installShieldRegistryOnWindows64=C\:\\Program Files (x86)\\Common Files\\InstallShield\\Universal
installShieldRegistryOnWindows=C\:\\Program Files\\Common Files\\InstallShield\\Universal
installPackageTempDir=C\:\\Installers
amxZipLoc=C\:\\Installers\\AMX\\TIB_amsg_3.4.2_win_x86_64.zip
TIBCO_AMX_TEST_FUNC_RT=C\:\\Lisa1072\\Projects\\BATAutomation\\Tests
amxSilentFile=C\:\\Lisa1072\\reports\\TIBCOUniversalInstallerAmx.silent
TIBCO_HOME=C\:\\AMX\\AMX342ver4
TIBCO_CONFIG_HOME=C\:\\AMX\\AMX342ver4\\config1
silentFile=C\:\\Lisa1072\\reports\\TIBCOUniversalInstallerAmx.silent
tibco.test.suite.log.dir=C\:\\Lisa1072\\reports
tibco.test.suite.source.dir=C\:/Lisa1072/Projects/BATAutomation/Configs
