<?xml version="1.0" encoding="UTF-8"?>
<?pde version="3.2"?>

<target name="upgradeit">

   <location path="${system_property:user.home}/tibco-build/configurations/lblm/amf/implementation/upgrade/runtime/extensionLoc/eclipse"/>

   <content useAllPlugins="true">
      <plugins>
      </plugins>
      <features>
      </features>
      <extraLocations>
         <location path="${eclipse_home}"/>
      </extraLocations>
   </content>

</target>
