<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <extensions>
          <bindingElementExtensions>
            <add name="MSFTITTransport" type="com.tibco.matrix.clr.MSFTITChannel.MSFTITTransportElement, amx_msft_runtime" />
          </bindingElementExtensions>
          <bindingExtensions>
            <add name="MSFTITBinding" type="com.tibco.matrix.clr.MSFTITChannel.MSFTITBindingCollectionElement, amx_msft_runtime" />
          </bindingExtensions>
        </extensions>
        
    <services>
      <service name="NS_CalculatorProxy.ProxyCalculatorImpl" behaviorConfiguration="ProxyCalculatorImpl.ServiceBehavior">
        <host>
          <!-- An HTTP base address serves the application endpoint as well as the WS-MetadataExchage one. -->
          <baseAddresses>
            <add baseAddress="http://localhost:9087/CalculatorProxy"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="customBinding" bindingConfiguration="AMX" contract="NS_CalculatorProxyContract.ICalculatorProxy">
        </endpoint>
        <!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange">
        </endpoint>-->
      </service>
    </services>
     <bindings>
          <customBinding>
	       <binding name="AMX">
	           <textMessageEncoding />
	             <MSFTITTransport/>
	       </binding>
          </customBinding> 
          </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ProxyCalculatorImpl.ServiceBehavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="True"/> 
        </behavior>
      </serviceBehaviors>
    </behaviors>
  <client>
    <endpoint address="http://localhost:9086/Calculator1" binding="customBinding" bindingConfiguration="AMX" contract="ISimpleCalculator" name="proxy1">
    </endpoint>
    <!--<endpoint address="http://localhost:8086/Calculator2" binding="wsHttpBinding" contract="ISimpleCalculator" name="proxy2">
    </endpoint>
    <endpoint address="http://localhost:8086/Calculator3" binding="wsHttpBinding" contract="ISimpleCalculator" name="proxy3">
    </endpoint>
    <endpoint address="http://localhost:8086/Calculator4" binding="wsHttpBinding" contract="ISimpleCalculator" name="proxy4">
    </endpoint>
    <endpoint address="http://localhost:8086/Calculator5" binding="wsHttpBinding" contract="ISimpleCalculator" name="proxy5">
    </endpoint>-->
  </client>
  </system.serviceModel>
</configuration>
