<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:distribution="http://xsd.tns.tibco.com/amf/models/distribution" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.1/notation">
  <distribution:ApplicationDistribution xmi:id="_9fxZcMVHEd-7Q7CaypeydQ" displayName="Distribution" applicationComposite="../Composites/JmsAppenderForPayload.composite#_sBqbUcRsEd-BlOF2Kok45g">
    <templateLogicalEnvironment xmi:id="_9fxZccVHEd-7Q7CaypeydQ" name="Single Node" description="Creates a Logical Environment with a Single Node that allows any technology type" dateCreated="2010-09-20T23:17:43.651-0700">
      <logicalNodes xmi:id="_9fxZcsVHEd-7Q7CaypeydQ" name="Default Node" description="Node template that allows for any technology type"/>
    </templateLogicalEnvironment>
    <distributionNodes xmi:id="_9fxZc8VHEd-7Q7CaypeydQ" name="Node1" nodeTemplate="#_9fxZcsVHEd-7Q7CaypeydQ">
      <mappedComponents xmi:id="_9fxZdMVHEd-7Q7CaypeydQ" mappedComponent="../Composites/JmsAppenderForPayload.composite#_sDxUIMRsEd-BlOF2Kok45g"/>
      <mappedBindings xmi:id="_9fxZdcVHEd-7Q7CaypeydQ" mappedBinding="../Composites/JmsAppenderForPayload.composite#_sFfLYcRsEd-BlOF2Kok45g"/>
    </distributionNodes>
  </distribution:ApplicationDistribution>
  <notation:Diagram xmi:id="_9fxZdsVHEd-7Q7CaypeydQ" type="Distribution" element="#_9fxZcMVHEd-7Q7CaypeydQ" name="JmsAppenderForPayload2.dist" measurementUnit="Pixel">
    <styles xsi:type="notation:DiagramStyle" xmi:id="_9fxZd8VHEd-7Q7CaypeydQ"/>
  </notation:Diagram>
</xmi:XMI>
