<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <extensions>
            <bindingElementExtensions>
                <add name="MSFTITTransport" type="com.tibco.matrix.clr.MSFTITChannel.MSFTITTransportElement, amx_msft_common">
                </add>
            </bindingElementExtensions>
            <bindingExtensions>
                <add name="MSFTITBinding" type="com.tibco.matrix.clr.MSFTITChannel.MSFTITBindingCollectionElement, amx_msft_common">
                </add>
            </bindingExtensions>
        </extensions>
        <behaviors>
            <serviceBehaviors>
                <behavior name="SCConfigNameBehaviour">
                    <serviceMetadata httpGetEnabled="true"></serviceMetadata>
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="SCConfigNameBehaviour" name="ServiceContractProject.MyServiceContractsImpl">
                <endpoint contract="MyCalculatorConfiguration" address="MyCalculator" bindingConfiguration="AMX_CUSTOM_BINDING" binding="customBinding" name=""></endpoint>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://mraut-dt1:8090/"></add>
                    </baseAddresses>
                </host>
            </service>
        </services>
        <bindings>
            <customBinding>
                <binding name="AMX_CUSTOM_BINDING">
                    <textMessageEncoding>
                    </textMessageEncoding>
                    <MSFTITTransport>
                    </MSFTITTransport>
                </binding>
            </customBinding>
            <basicHttpBinding>
                <binding name="SCConfigNameBinding"></binding>
            </basicHttpBinding>
        </bindings>
    </system.serviceModel>
    <startup><supportedRuntime version="v2.0.50727"></supportedRuntime></startup></configuration>