########################### Remote Properties for AMX Admin #################################

adminURL=http://localhost:8120
username=root
password=t
httpConnectionTimeout=360000
# Admin trust store setting for SSL, variable is not allowed
#javax.net.ssl.trustStore=D:/qa-image/installation/administrator/3.0/samples/admin.default.ssl.trust.store.ts
#javax.net.ssl.trustStoreType=JCEKS
#javax.net.ssl.trustStorePassword=secret

admin.cli.ssl.keystorelocation={{TIBCO_AMXADMIN_CONFIG}}/samples/adminCliKeystore.jceks
admin.cli.ssl.keystorepassword=#!F2vplsUatM3B6+lsDcSbWpgO5i5cfznNQAD3anjhExnDL6tQPzKdmw==
admin.cli.ssl.keystoretype=jceks
admin.cli.ssl.keyalias=AMXAdminCli
admin.cli.ssl.keypassword=#!e0Br49sVAB0c1+H2cxVMtZj1VxM0J+1J2OivXSpZ3hods7yIoKEaxQ==

########################### AMX Environment Properties ######################################

env.name=QAEnvironment_{{LISA_HOST}}
env.node1.name=QANode1
env.node2.name=QANode2

###############  Don't change following values #################

admin.env.name=SystemEnvironment
host.name=SystemHost
admin.group.name=AMXAdmin
admin.instance.name=admin1
host.instance=Admin-AMXAdmin-admin1
host.jmx.port=6051
host.prefix=tibamx_
amx.sv.queuePrefix=AMX_SV_{{LISA_HOST}}

#################################################

enableMCR=true

logappender.file.location={{tibco.test.suite.log.dir}}/setup
keystore.location={{TIBCO_AMX_TEST_FUNC_RT}}/bat/keystore


#Admin DB property
admin.db.url=jdbc:db2://10.108.80.203:50000/amxbat
admin.db.username=db2admin
admin.db.password=Tibco123
admin.db.host=10.108.80.203
admin.db.port=50000
admin.db.dbname=amxbat
admin.db.admusr=db2admin
admin.db.admpwd=Tibco123


#DB feature
db.shell.name=com.tibco.tpcl.gen.db2.jdbc
#This is from machine.xmi
db.feature.version=4.19.66.001
# this is from third-party build.properties of TCT
db.shell.version=4.19.66.41966
db.source.jar.location={{TIBCO_AMX_TEST_FUNC_RT}}/bat/jdbcDrivers/db2/new41966

# Qin, Messaging Bus
#Add for EMS FT
queueConnectionfactory=GenericConnectionFactory

emssecure=false
prefix1=tcp

emshost=spiderman.na.tibco.com
emsport=7222
#Bellow is used for 5.13,5.20, invoke SSL EMS (errorQueue)
emsport_tcp=7222
emsuser=admin
emspwd=admin

#Add this to support EMS FT
emshost2=spiderman.na.tibco.com
emsport2=7222

# SOAP BT, JMS BT
jmshost=spiderman.na.tibco.com
jmsport=7522
jmsuser=amxemspwd
jmspwd=amxemspwd

jndiconnectionfactory=GenericConnectionFactory
jndicontexturl=tibjmsnaming://spiderman.na.tibco.com:7622
jndihost=spiderman.na.tibco.com
jndiport=7622
jndiuser=amxjndipwd
jndipwd=amxjndipwd

# JNDI Settings for SSL
jndicontexturlSSL=tibjmsnaming://spiderman.na.tibco.com:7632

# DB for test cases with JDBC Direct connection (no XA connection)
dbUrl=jdbc:hsqldb:hsql://batman.na.tibco.com:1234/amx
dbDriver=org.hsqldb.jdbcDriver
dbUser=sa
dbPwd=
hibernateDialect=org.hibernate.dialect.HSQLDialect

# AppServer for EJBBT (JBOSS4.2.2)
JBOSSServerForEJBBT=batman.na.tibco.com
JBOSSPortForEJBBT=1099

host1={{LISA_HOST}}
port1=8120
port2=8890
port3=8891
port4=8778
portssl1=6765

bwhost1=batman.na.tibco.com
bwport1=8898
bwportssl1=6767

tibco.amx.rt.smtp1.host=AMX-BACKEND-1.na.tibco.com
tibco.amx.rt.smtp1.port=25

tibco.amx.rt.ldap1.connectionFactory=com.sun.jndi.ldap.LdapCtxFactory
tibco.amx.rt.ldap1.providerURL=ldap://AMX-BACKEND-1.na.tibco.com:1389

# CPP IT Compiler
compiler={{cppCompiler}}

########################### Installation Properties ##############################################

tmpDir={{installPackageTempDir}}
installTempDir={{installerTempDir}}
installJavaHome={{installerJavaHome}}


########################### SOA Project location ###########################################
projectloc=
regenerateDAA=false

########################### Build Package Location ####################################################

amxZip={{amxZipLoc}}
amxHFZip={{amxHFZipLoc}}
amxHF2Zip={{amxHF2ZipLoc}}
cppZip={{cppZipLoc}}
adapterZip={{adapterZipLoc}}
ejbZip={{ejbZipLoc}}
clrZip={{clrZipLoc}}

########################### TIBCO Hook Properties #################################################


tibco.amx.datafile.template={{TIBCO_AMX_TEST_FUNC_RT}}/bat/amxdata_2node_db2.template.xml
tibco.test.suite.config.path={{tibco.test.suite.source.dir}}/2node_db2.config
