########################### Remote Properties for AMX Admin #################################

adminURL=http://localhost:8120
username=root
password=t
httpConnectionTimeout=360000
# Admin trust store setting for SSL, variable is not allowed
#javax.net.ssl.trustStore=D:/qa-image/installation/administrator/3.0/samples/admin.default.ssl.trust.store.ts
#javax.net.ssl.trustStoreType=JCEKS
#javax.net.ssl.trustStorePassword=secret

admin.cli.ssl.keystorelocation={{TIBCO_AMXADMIN_CONFIG}}/samples/adminCliKeystore.jceks
admin.cli.ssl.keystorepassword=#!F2vplsUatM3B6+lsDcSbWpgO5i5cfznNQAD3anjhExnDL6tQPzKdmw==
admin.cli.ssl.keystoretype=jceks
admin.cli.ssl.keyalias=AMXAdminCli
admin.cli.ssl.keypassword=#!e0Br49sVAB0c1+H2cxVMtZj1VxM0J+1J2OivXSpZ3hods7yIoKEaxQ==

########################### AMX Environment Properties ######################################

env.name=QAEnvironment_{{LISA_HOST}}
env.node1.name=QANode1
env.node2.name=QANode2

###############  Don't change following values #################

admin.env.name=SystemEnvironment
host.name=SystemHost
admin.group.name=AMXAdmin
admin.instance.name=admin1
host.instance=Admin-AMXAdmin-admin1
host.jmx.port=6051
host.prefix=tibamx_
amx.sv.queuePrefix=AMX_SV_{{LISA_HOST}}

#################################################

enableMCR=true

logappender.file.location={{tibco.test.suite.log.dir}}/setup
keystore.location={{TIBCO_AMX_TEST_FUNC_RT}}/bat/keystore

#Admin DB property
#admin.db.url=jdbc:sqlserver://10.107.172.194:1433;DatabaseName=lisa_{{LISA_USER}}
#admin.db.host=10.107.172.194
#admin.db.port=1433
#admin.db.username=sa
#admin.db.password=sa2008!
#admin.db.dbname=lisa_{{LISA_USER}}

admin.db.url=jdbc:sqlserver://10.107.172.81:1433;DatabaseName=lisa_{{LISA_USER}}
admin.db.host=10.107.172.81
admin.db.port=1433
admin.db.username=sa
admin.db.password=Tibco123
admin.db.dbname=lisa_{{LISA_USER}}

#DB feature
db.shell.name=com.tibco.tpcl.gen.sqlserver.jdbc
db.feature.version=2.1.0.001
db.shell.version=2.0.0.300
db.source.jar.location={{TIBCO_AMX_TEST_FUNC_RT}}/bat/jdbcDrivers/sqlserver

# Qin, Messaging Bus
emshost=AMX-BACKEND-4.na.tibco.com
emsport=7222
emsuser=admin
emspwd=admin

# SOAP BT, JMS BT
jmshost=AMX-BACKEND.na.tibco.com
jmsport=7522
jmsuser=amxemspwd
jmspwd=amxemspwd

jndiconnectionfactory=GenericConnectionFactory
jndicontexturl=tibjmsnaming://AMX-BACKEND.na.tibco.com:7622
jndihost=AMX-BACKEND.na.tibco.com
jndiport=7622
jndiuser=amxjndipwd
jndipwd=amxjndipwd

# JNDI Settings for SSL
jndicontexturlSSL=tibjmsnaming://AMX-BACKEND.na.tibco.com:7632

# DB for test cases with JDBC Direct connection (no XA connection)
dbUrl=jdbc:hsqldb:hsql://AMX-BACKEND.na.tibco.com:1234/amx
dbDriver=org.hsqldb.jdbcDriver
dbUser=sa
dbPwd=
hibernateDialect=org.hibernate.dialect.HSQLDialect

# AppServer for EJBBT (JBOSS4.2.2)
JBOSSServerForEJBBT=AMX-BACKEND.na.tibco.com
JBOSSPortForEJBBT=1099

host1={{LISA_HOST}}
port1=8120
port2=8890
port3=8891
port4=8778
portssl1=6765

bwhost1=AMX-BACKEND-2.na.tibco.com
bwport1=8898
bwportssl1=6767

tibco.amx.rt.smtp1.host=AMX-BACKEND.na.tibco.com
tibco.amx.rt.smtp1.port=25

tibco.amx.rt.ldap1.connectionFactory=com.sun.jndi.ldap.LdapCtxFactory
tibco.amx.rt.ldap1.providerURL=ldap://AMX-BACKEND-1.na.tibco.com:1389

# CPP IT Compiler
compiler={{cppCompiler}}

########################### Installation Properties ##############################################

tmpDir={{installPackageTempDir}}
installTempDir={{installerTempDir}}
installJavaHome={{installerJavaHome}}

########################### SOA Project location ###########################################
projectloc=
regenerateDAA=false

########################### Build Package Location ####################################################

amxZip={{amxZipLoc}}
amxHFZip={{amxHFZipLoc}}
cppZip={{cppZipLoc}}
adapterZip={{adapterZipLoc}}
ejbZip={{ejbZipLoc}}
clrZip={{clrZipLoc}}

########################### TIBCO Hook Properties #################################################

tibco.amx.datafile.template={{TIBCO_AMX_TEST_FUNC_RT}}/bat/amxdata_2node_sqlsvr.template.xml
tibco.test.suite.config.path={{tibco.test.suite.source.dir}}/2node_sql_2012.config
